:root {
    --primary-color: #2fff13; 
    --text-color: white;
    --background-color: #161a1d27;
    --button-background-hover: transparent;
    --button-color-hover: #2fff13;
    --button-box-shadow-hover: 0 0 25px #2fff13ac;
    --star-color: #a5ff13;
    --color-textos: white;
    --color-button: #00f603;
    --color-hover-span: #00f900;
    --color-footer: #121212;
    --texto-font: "Oswald", sans-serif;
    --color-navbar-active: #2fff13;
    --color-navbar-inactive: white;
    --color-static-black: #000000;
    --color-hover-black: #00f900;
    --color-border: #00f90050;
  }
  
  *{
    color: var(--text-color);
    font-family: var(--texto-font);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
  outline: none !important; 
  box-shadow: none !important;
}
.section-opciones{
    margin-top: 76px;
}
  nav a {
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    padding: 6px 20px;
    transition: 0.5s;
    }
    nav a:hover {
    color: var(--color-navbar-active);
    }
    nav a .sp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid var(--color-navbar-active);
    transform: scale(0) translateY(50px); 
    opacity: 0;
    transition: 0.1s;
    }
    nav a:hover .sp {
    transform: scale(1) translateY(0); 
    opacity: 1;
    }
    .activo{
     color: var(--color-navbar-active);   
    }
    .colores{
        background-color: var(--color-footer);
    }
    @media (max-width: 768px) {
        .navbar-toggler-icon {
            background-color: var(--color-navbar-active);
            border-radius: 5px;
        }
    }
  .logo-btn{
    width:50px;
    height:50px;
  }
  .moto-section{
    margin-top: 76px;
  }
  .img-pareja-moto{
    height: 450px;
  }
  .acord-bg{
    background-color: var(--color-static-black);
    background-image:url("../Images/image\ \(18\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .accordion-item{
    background-color: #74747463;
    border-color:rgb(0, 0, 0);
    backdrop-filter: blur(2rem); 
  }
  .accordion-body{
    background-color: var(--background-color);
    padding: 1rem;
    backdrop-filter: blur(2rem); 
    border: 1px solid var(--color-border);
  }
  .accordion-button{
    background-color: rgba(10, 10, 10, 0.61);
    color: #ffffff;
    
  }
  .accordion-button:hover{
    background-color: rgba(104, 104, 104, 0.61);
    color: #ffffff;
    
  }
  .accordion-button:not(.collapsed){
    color: rgb(255, 255, 255);
    background-color: #00f9006b;
    border-color: #f8f8f8;
    box-shadow: var(--color-hover-span);
  }

  .accordion-button:focus{
    box-shadow:var(--color-hover-span);

  }
  .panel-collapse p {
      color: #fff; 
  }

  .contacto-section{
    margin-top: 76px;
  }
  .body-index{
    background-image: url('../Images/fondo-opcion-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .body-contacto{
    background-image: url('../Images/fondo-contacto.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  
  main {
    min-height: calc(100vh - 175px);
  }

  
  .blur{
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 5%;
    transition: 0.5s ease-in-out;
    backdrop-filter: blur(2rem); 
    border: 1px solid var(--color-border);
  }
  
  .area{
    resize: none;
  }
  
  .btn-special {
    position: relative;
    background: var(--primary-color) !important;
    color: var(--color-static-black);
    border: 3px solid var(--primary-color) !important;
    box-shadow: 0 0 0 var(--primary-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .star-1, .star-2, .star-3, .star-4, .star-5, .star-6 {
    position: absolute;
    width: auto;
    height: auto;
    filter: drop-shadow(0 0 0 var(--star-color));
    z-index: -5;
  }
  
  .star-1 {
    top: 20%;
    left: 20%;
    width: 25px;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    top: 45%;
    left: 45%;
    width: 15px;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    top: 40%;
    left: 40%;
    width: 5px;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    top: 20%;
    left: 40%;
    width: 8px;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    top: 25%;
    left: 45%;
    width: 15px;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    top: 5%;
    left: 50%;
    width: 5px;
    transition: all 0.8s ease;
  }
  
  .btn-special:hover {
    background: var(--button-background-hover) !important;
    color: var(--button-color-hover);
    box-shadow: var(--button-box-shadow-hover);
  }
  
  .btn-special:hover .star-1 {
    top: -80%;
    left: -30%;
    width: 25px;
    filter: drop-shadow(0 0 10px var(--star-color));
    z-index: 2;
  }
  
  .btn-special:hover .star-2 {
    top: -25%;
    left: 10%;
    width: 15px;
    filter: drop-shadow(0 0 10px var(--star-color));
    z-index: 2;
  }
  
  .btn-special:hover .star-3 {
    top: 55%;
    left: 25%;
    width: 5px;
    filter: drop-shadow(0 0 10px var(--star-color));
    z-index: 2;
  }
  
  .btn-special:hover .star-4 {
    top: 30%;
    left: 80%;
    width: 8px;
    filter: drop-shadow(0 0 10px var(--star-color));
    z-index: 2;
  }
  
  .btn-special:hover .star-5 {
    top: 25%;
    left: 115%;
    width: 15px;
    filter: drop-shadow(0 0 10px var(--star-color));
    z-index: 2;
  }
  
  .btn-special:hover .star-6 {
    top: 5%;
    left: 60%;
    width: 5px;
    filter: drop-shadow(0 0 10px var(--star-color));
    z-index: 2;
  }
  
  .fil0 {
    fill: var(--star-color);
  }

  #main-carousel {
      margin-top: 76px;
      height: 400px;
      width: 100%;
  
      & span {
          background: rgba(32, 32, 32, 0.2);
          backdrop-filter: blur(5px);
          color: var(--color-hover-span);
          border-radius: 25px;
      }
  }
  
  .carousel-images {
      height: 400px;
      width: 100%;
      object-fit: cover;
      filter: blur(5px);
  }
  .img-registrarse{
    height: 350px;
    width: 100%;
    object-fit: cover;
  }
  @media (width <= 768px){
   .img-registrarse{
    background-image: url();
    height: 0;
}
  }
  
  .btn-color {
      background-color: var(--color-button);
      color:var(--color-static-black) ;
      border: 1px solid var(--color-static-black);
  }
  
  .btn-color-static {
      background-color: var(--color-static-black);
      color: var(--color-hover-black);
      border: 1px solid var(--color-hover-black);
      padding: 6px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: default !important;
  }
  
  .titulos {
      color: var(--color-hover-black);
      border-bottom: 1px solid var(--color-border);
      border-right: 1px solid var(--color-border);
      transition: background-color 0.5s;
  }
  
  .btn-color:hover {
      background-color: var(--color-static-black);
      color: var(--color-hover-black);
      border: 1px solid var(--color-hover-black);
  }
  
  .bg-carousel {
      background-color: var(--color-static-black);
  }
  
  .celular-section {
      height: 350px;
      width: 100%;
      background: url("../Images/fondo2.png");
      border-top: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
  }
  
  .card-bg {
      background: rgba(32, 32, 32, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.37);
      backdrop-filter: blur(5px);
  }
  
  .card-bg:hover {
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(5px);
  }
  
  .img-celular {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 50px;
  }
  
  .img-service {
      height: 50px;
      width: 150px;
      object-fit: cover;
      border: 0.5px solid var(--color-textos);
      border-radius: 5px;
  }
  
  .img-size {
      height: 200px;
      width: auto;
  }
  
  .btn-color-comentario {
      height: 100%;
      width: 280px;
      background: rgba(27, 27, 27, 0.2);
      backdrop-filter: blur(10px);
  }
  
  .style-trabajamos {
      color: var(--color-textos);
      border-bottom: 1px solid var(--color-border);
      border-right: 1px solid var(--color-border);
      background: rgba(27, 27, 27, 0.2);
      backdrop-filter: blur(10px);
  }
  
  .nav-footer-text {
      color: #212529;
  }
  
  html {
    height: 100%;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .footer-bg {
    flex-shrink: 0;
    padding: 20px;
    background-color: var(--color-footer);
    font-family: var(--texto-font);
  }
  
  @media (max-width: 576px) {
    .media-footer {
      display: flex;
      flex-direction: column;
    }
  }
  
  .icon-color {
      color: var(--color-textos);
  }
  
  .icon-color:hover {
      color: var(--color-button);
  }
  
  .bg-img {
    background-image: url('../Images/meme-codificar.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}
.card-body-servicios{
  height: 150px; 
  overflow: hidden;
}
.modal-bg{
    background:rgba(27, 27, 27, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-border);
}
.btn-close{
    background-color: rgba(153, 153, 153, 0.521);
}
@media (width <= 950px) {
    .bg-img{
        background-image: url();
        height: 0;
    }
}
  @media (max-width: 576px) {
      .media-footer {
          display: flex;
          flex-direction: column;
      }
  }
  .rotate-down {
    transition: transform 0.3s ease;
}
@media (width <= 767px) {
    .rotate-down {
        transform: rotate(90deg);
    }
    .desaparecer{
        display: none !important;
    }
}
  
  @media (max-width: 768px) {
      .celular-section {
          height: 450px;
      }
  }
  
  @media (min-width: 768px) {
      #carouselClientesMinSize {
          display: none;
      }
  
      .carousel-control-prev {
          position: absolute;
          top: 0;
          bottom: 0;
          margin-right: -10px;
      }
  
      .carousel-control-next {
          position: absolute;
          top: 0;
          bottom: 0;
          margin-left: -50px;
      }
  }
  
  @media (max-width: 767.98px) {
      #carouselNuestrosClientes {
          display: none;
      }
  }
